{% extends 'landing_w_load.html' %} 
    {% block title %} Console {% endblock %}
    
    {% block landing %}
        <!-- box-intro -->
        <section class="box-intro">
                <div class="table-cell">
                    <h1 class="box-headline letters rotate-2">
                        <span class="box-words-wrapper">
                            <b class="is-visible">Sawit.Kinabalu</b>
                            <b>&nbsp;Lab.IM.System</b>
                            <b>Data.Analytics</b>
                        </span>
                    </h1>
                    <h5>We are your Industrial Revolution 4.0 partner | IOT Control Solution Shd Bhd</h5>
                </div>

            <!-- end box-intro -->
        </div>
    {% endblock %}